@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-nova-navy: #1a2e45;
  --color-nova-navy-light: #263f5a;
  --color-nova-green: #22c55e;
  --color-nova-green-light: #bbf7d0;
  --color-nova-teal: #0ea5e9;
  --color-nova-orange: #f59e0b;
}

* {
  font-family: "Poppins", sans-serif;
}

.dark {
  color-scheme: dark;
}
